langchain
google-genai
python-dotenv
langchain-community
langgraph
pydantic
fastapi
uvicorn
requests
tiktoken
google-genai
jupyterlab
ipykernel
langchain-huggingface
langchain-google-genai
pypdf
unstructured
unstructured-inference 
pymupdf
pi_heif
pdf2image
langchain-text-splitters
sentence-transformers

